
@import 'src/themes/mixins/mixins.scss';

@include b(sideNav) {
	width: 3rem;
	height: 100%;
	box-sizing: border-box;

	@include e(nav-warp) {
		overflow-y: auto;
	}
	@include e(nav-group) {
		&:nth-child(1) {
			padding-top: 0.2rem;
		}
    &:nth-child(2) {
			padding-top: 0.4rem;
		}
	}
	@include e(nav-group-title) {
		font-size: 0.2rem;
		font-weight: 600;
	}
	@include e(nav-group-container) {
		font-size: 0.16rem;
	}
	@include e(sub-nav) {
		@include when(active) {
			@include themify($themes) {
				color: themed('font-color') !important;
			}
		}
	}
}
