
	@import 'src/themes/mixins/mixins.scss';
	
	@include b(list) {
		width: 3rem;	
		margin-right: 0.2rem;
		box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
		@include e(title) {
			font-weight: 500;
			height: 0.5rem;
			line-height: 0.5rem;
			&:hover {
				color: #fff;
				@include themify($themes) {
					background: themed('font-color') !important;
				}
			}
		}

		@include e(drag-container) {
			min-height: 0.5rem;
		}
	}
