@import './element-variables.scss';

@import './zh.css';

@import './reset.scss';

ul {
  margin: 0;
  padding: 0;
  li {
    list-style-type: none;
  }
}

a {
  text-decoration: none;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
  letter-spacing: 1px;
  overflow: hidden;
  padding: 0;
  font-size: 625% !important;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  font-size: 0.2rem;
  min-height: 100vh;
  overflow: auto;
}
.content {
  width: calc(100% - 2rem);
  min-height: calc(100% - 1.3rem);
  margin: 0 auto;
}

