/* icon font path, required */
// $--font-path: "~element-ui/lib/theme-chalk/fonts";

// Font
$--font-size-error: 16px !default;

// color
$--font-colr-default: rgb(25, 199, 69);

// bg
$--bg-color-default: #25a538;


// opeartion
$--op-nav-active: #1d692a;
