/* icon font path, required */
// $--font-path: "~element-ui/lib/theme-chalk/fonts";

// Font
$--font-size-error: 16px !default;

// color
$--font-colr-default: rgb(215, 42, 42);

// bg
$--bg-color-default: #aa3030;


// opeartion
$--op-nav-active: red;
