@import "src/themes/mixins/mixins.scss";

@include b(icon) {
//   @include when(disabled) {
//     cursor: not-allowed !important;
//     color: $--color-text-disabled !important;
//   }
}
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
