#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $--font-colr-default;
  background: $--bg-color-default;
}
#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: $--font-colr-default;
}

#nav a.router-link-exact-active {
  color: $--op-nav-active;
}