
	@import 'src/themes/mixins/mixins.scss';
	
	@include b(example) {
		@include e(block) {
			@include themify($themes) {
				border-color: themed('font-color');
			};
			padding: 0.2rem;
			border-bottom: 2px solid;
			width: 9rem;
			margin: 0 auto;
		}
	}
